{% extends 'base.html' %}

{% block content %}
    <!-- <h1>Olá {{ current_user.username }}, você está logado ao finance!</h1> -->
    <div class="container">
        <div class="row">
        <div class="col-sm-6">
          <h1 class="text-justify"> Cadastrar conta fixa</h1>
            <form action="" method="post">
                    {{ form.csrf_token }}
                <p>
                    <p>Conta</p>
                    {{form.nome(size=30)}}<br>
                </p>
                <p>
                    <p>Meses:</p>
                    {{form.meses_a_ficar}}
                </p>
                <p>
                    {{form.valor.label}}<br>
                    {{form.valor(size=30)}}<br>
                </p>
                    <p>Dia de vencimento</p>
                    {{form.dia_vencimento(size=30)}}
                </p>
                <p>
                </p>
                <input type="submit" name="" id="" value="Save">
            </form>
        </div>
        <div class="col-sm-6">
            <h1 class="text-justify">Contas fixas</h1>
            <table class="table" border="1">
                <tr>
                    <th>Conta</th>
                    <th>Valor</th>
                    <th>Dia de vencimento</th>
                    <th>Total: </th>
                    <td>R${{ total }}</td>
                </tr>
                {% for row in rows %}
                <tr scope="row">
                    <td>{{ row.nome }}</td>
                    <td>{{ row.valor }}</td>
                    <td>{{ row.dia_vencimento }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    </div>

<script language=javascript type="text/javascript">
    var data = new Date();
    var dia = String(data. getDate()). padStart(2, '0');
    var mes = String(data. getMonth() + 1). padStart(2, '0');
    var ano = data. getFullYear();
    dataAtual = dia + '/' + mes + '/' + ano;
    console.log(dataAtual);
    
    document.getElementsByName('date')[0].value = dataAtual
</script>    
{% endblock %}
