{% extends 'base.html' %} {% block content %}
<!-- <h1>Olá {{ current_user.username }}, você está logado ao finance!</h1> -->

<div class="container">
    <div class="row">
        <div class="col-sm-6">
          <h1 class="text-justify">Cadastrar novo gasto</h1>
            <form action="" method="post">
                {{ form.csrf_token }}
                <p>
                    {{form.valor.label}}<br> {{form.valor(size=30)}}
                    <br>
                </p>
                {{ form.date.label }}<br> {{ form.date(size=30)}}
                </p>
                <p>
                    {{form.nome.label}}<br> {{form.nome(size=30)}}
                    <br>
                </p>
                <input type="submit" name="" id="" value="Save">
            </form>
        </div>
        <div class="col-sm-6">
            <h1 class="text-justify">Gastos do mês atual</h1>
            <table class="table" border="1">
                <tr>
                    <th>Deletar gasto</th>
                    <th>Pago</th>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>tipo</th>
                    <!-- <th>Vencimento: </th> -->
                    <th>Data</th>
                    <th>Total: </th>
                    <th>R${{ total }}</th>
                </tr>
                {% for row in rows %}
                <tr scope="row">
                    <td>
                      <form action="{{ url_for('deletar_gasto', id=row.id) }}" method="post">
                        <div class="col text-center">
                          <button onclick="this.form.submit()" align="center" type="button" class="btn btn-danger btn-sm">x</button> 
                        </div>
                      </form>
                    </td>
                    <td>
                        <form action="{{ url_for('atualizar_pago', id=row.id) }}" method="post">
                            {% if row.pago %}
                            <input onChange="this.form.submit()" type="checkbox" id={{ row.id }} checked/> {% else %}
                            <input onChange="this.form.submit()" type="checkbox" id={{ row.id }} /> {% endif %}
                        </form>
                    </td>
                    <td>{{ row.nome }}</td>
                    <td>{{ row.valor }}</td>
                    <td>{{ row.tipo }}</td>
                    <!-- <td>{{ row.dia_vencimento }}</td> -->
                    {% if row.data %}
                    <td>{{ row.data.strftime("%d/%m/%Y") }}</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>


<script language=javascript type="text/javascript">
    var data = new Date();
    var dia = String(data.getDate()).padStart(2, '0');
    var mes = String(data.getMonth() + 1).padStart(2, '0');
    var ano = data.getFullYear();
    dataAtual = dia + '/' + mes + '/' + ano;

    document.getElementsByName('date')[0].value = dataAtual

    var index, table = document.getElementsByClassName('table')[0];
    console.log('table.rows.length');
    console.log(table.rows.length);
    console.log(table.rows[1]);
    for (var i = 1; i < table.rows.length; i++) {
        console.log(table.rows[i].cells[3]);
        table.rows[i].cells[4].onclick = function() {
            var c = confirm("do you want to delete this row");
            if (c === true) {
                index = this.parentElement.rowIndex;
                table.deleteRow(index);
            }

            //console.log(index);
        };

    }
</script>

{% endblock %}
