{% extends 'base.html' %}

{% block content %}
    <!-- <h1>Olá {{ current_user.username }}, você está logado ao finance!</h1> -->
    <h1 class="text-justify"> Cadastrar novo gasto</h1>

    <div class="container">
        <div class="row">
        <div class="col-sm-6">
            <form action="" method="post">
                    {{ form.csrf_token }}
                <p>
                    {{form.valor.label}}<br>
                    {{form.valor(size=30)}}<br>
                </p>
                <p>
                    {{ form.date.label }}<br>
                    {{ form.date(size=30) }}<br>
                </p>
                <p>
                    {{form.produto.label}}<br>
                    {{form.produto(size=30)}}<br>
                </p>
                <input type="submit" name="" id="" value="Save">
            </form>
        </div>
        <div class="col-sm-6">
            <h1 class="text-justify">Gastos do mês atual</h1>
            <table class="table">
                <tr>
                    <th>Produto</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Total: </th>
                    <td>R${{ total }}</td>
                </tr>
                {% for row in rows %}
                <tr scope="row">
                    <td>{{ row.produto }}</td>
                    <td>{{ row.valor }}</td>
                    <td>{{ row.data.strftime("%d/%m/%Y") }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    </div>
{% endblock %}