{% extends 'base.html' %}

{% block content %}
<h1 class="text-justify d-flex justify-content-center">Sign up</h1>
<div class="d-flex justify-content-center">
<form action="" method="post">
  {{ form.csrf_token }}
  <p>
    {{form.email.label}}<br>
    {{form.email(size=30)}}<br>
  </p>
  <p>
    {{form.username.label}}<br>
    {{form.username(size=30)}}<br>
  </p>
  <p>
    {{form.password.label}}<br>
    {{form.password(size=30)}}<br>
  </p>
  <input type="submit" name="" id="" value="Sign up">
</form>
</div>

{% endblock %}
